*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    color: rgb(255, 255, 255);
    transition: all ease-in-out 0.3s;
}

body{
    background: linear-gradient(rgb(0, 0, 133) 7%, rgb(41, 116, 255) 49%, rgb(103, 146, 255) 70%, rgb(181, 211, 255) 98%);
    height:200vh;
    width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.3s ease;
}

header{
    display: flex;
    position:sticky;
    top:0;
    width: 100vw;
    backdrop-filter: blur(5px);
    padding: 20px 5vw;
    background-color: rgba(255, 255, 255, 0);
    -webkit-backdrop-filter: blur(5px);
    z-index: 10;
    justify-content: center;
}

header input{
    width: 35vw;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.7);
    border:none;
    outline: none;
    box-shadow: inset -5px -5px 5px rgba(255, 255, 255, 0.2),
                inset 5px 5px 5px rgba(0,0,0,0.3);
    caret-color: rgba(255, 255, 255, 0.5);
    /* border:rgba(255, 255, 255, 0.7) 2px solid;
    outline: none;
    color: rgba(255, 255, 255, 0.7) */
}

header input::placeholder{
    color: rgba(255, 255, 255, 0.4);
}

.search{
    position: relative;
}

.search-suggestion{
    display: flex;
    flex-direction: column;
    position:absolute;
    top: 100%;
    left:0;
    width: 100%;
    max-height:30vh;
    overflow-y: auto;
    z-index: 30;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    display: none;
}

.search-suggestion div{
    cursor: pointer;
    font-size: 1em;
    padding: 0 20px;
    display: flex;
    align-items: center;
    height: 50px;
}

.search-suggestion p{
    font-size: 1em;
    padding: 0 20px;
    padding-bottom: 20px;
    font-style:italic;
    font-weight: 700;
    opacity: 0.7;
}

.settings{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    /* border:rgba(255, 255, 255, 0.7) 2px solid; */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: 15px;
    cursor: pointer;
    position: relative;
    box-shadow: inset -5px -5px 5px rgba(255, 255, 255, 0.2),
                inset 5px 5px 5px rgba(0,0,0,0.5);
}

body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

main{
    padding: 0 5vw;
    height: 85vh;
    width: 100%;
   
}

.location-details{
    width: 100%;
    border-radius: 40px;
    padding: 20px 40px;
    position: relative;
    isolation: isolate;
    display: flex;
    justify-content: space-between;
    
}

.main-info{
    width: 100%;
    height: 100%;
    border-radius: 40px;
    padding: 20px 40px;
    position: relative;
    isolation: isolate;
    display: flex;
    flex-direction: column;
}

.main-info::after{
    content: '';
    position: absolute;
    border-radius: 40px;
    background-image: url('background.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    inset:0;
    z-index: -1;
    opacity: 0.6;
}

.location-left,
.location-right{
    border-radius: 20px;
    width: 49%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: baseline;
    flex-wrap: wrap;
}

.location{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.location-left p,
.location-right p{
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.5em;
    line-height: 2em;
    letter-spacing: 4px;
    padding: 0px 10px;
    transition: all ease-in-out 0.3s;
}

.location-left .country{
    line-height: 1em;
    margin-bottom: 10px;
    padding: 10px;
}

.location h2{
    font-size: 4em;
    letter-spacing: 5px;
    text-shadow: -5px 5px 5px rgba(0,0,0,0.6);
}

.location-right h3{
    font-size: 3em;
    letter-spacing: 10px;
    color: rgba(188, 211, 228, 0.915);
}

.temperature{
    letter-spacing: 10px;
    font-size: 7em;
    text-shadow: -5px 5px 5px rgba(0,0,0,0.6);
}

.sun{
    display: flex;
    align-items: center;
    margin-top: 20px;
    width: 60%;
    justify-content: space-between;
}

.sun div{
    display: flex;
    align-items: center;
}

.sun div p{
    margin-left: 10px;
}

.weather{
    display: flex;
}

.current-location{
    background-color: rgba(0,0,0,0.5);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border:none;
    margin-left: 15px;
    cursor: pointer;
    transition: box-shadow ease 0.3s;
}

.current-location:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
}

.settings-box{
    z-index: 20;
    position: absolute;
    top: 38px;
    left: 0;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(5px);
    border: 2px solid white;
    border-radius: 15px;
    width: 10vw;
    display:none;
}

.settings-box ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    list-style-type:none;
    width: 100%;
    
}

li{
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    border-radius: 15px;
}

.settings-box li:hover{
    background-color: rgba(209, 222, 255, 0.485);
}

.visible{
    display: block;
}

.loader-page{
    height: 100%;
    width: 100%;
    background-color: transparent;
    z-index: 15;
    position: fixed;
}

.loader{
    box-sizing: border-box;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 20vw;
    height: 20vw;
    background-color: transparent;
    z-index: 30;
    transform: translate(-50%, -50%);
    align-content: center;
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-bottom: solid rgb(0, 0, 133);
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}

@-webkit-keyframes spin {
  0% { -webkit-transform: translate(-50%, -50%) rotate(0deg); }
  100% { -webkit-transform: translate(-50%, -50%) rotate(360deg); }
}


.location-more-info{
    display: flex;
    gap: 1vw;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}
.more-info{
    padding: 15px 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1vw;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    transition: box-shadow ease-in-out 0.3s;
}

.more-info div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.more-info span{
    margin-right: 10px;
}

.more-info-header{
    text-shadow: -3px 3px 3px rgba(0,0,0,0.6);
}

.more-info p{
    padding: 10px 30px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.5em;
    letter-spacing: 2px;
    padding: 0px 10px;
    transition: all ease-in-out 0.3s;
}

.future-info{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    
}

.future-info h1{
    text-shadow: -3px 3px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.future-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1vw;
    margin-top: 20px;
}

.future-weather{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.2);
    
    width: 100%;
    border-radius: 20px;
    padding: 20px;
    align-items: center;
    justify-content: baseline;
    height: 40vh;
    text-align: center;
    box-shadow: inset 0 -5px 10px rgba(233, 233, 233, 0.2),
                inset 5px 5px 7px rgba(0,0,0,0.3);
    transition: all 0.3s ease-in-out;
}

.future-weather p{
    text-shadow: -1px 1px 3px rgba(0,0,0,0.5);
}

.future-temperature,
.future-rain-prob{
    display: flex;
    align-items: center;
}

.future-weather h3{
    font-size: 1.7em;
    letter-spacing: 3px;
    line-height: 1.3em;
    color: rgb(44, 44, 221);
    align-self: center;

}

.future-weather p{
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.2em;
    line-height: 1.5em;
    letter-spacing: 3px;
    padding: 0px 10px;
    transition: all ease-in-out 0.3s;
}

section{
    padding: 0 5vw;
}
::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track{
    background-color: rgb(15, 63, 152);
    
}











.more-info:hover{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
}

.future-weather:hover{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8),
                inset 0 -5px 10px rgba(0,0,0,0.3),
                inset 5px 5px 7px rgba(233, 233, 233, 0.2)
}

p:hover{
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    text-shadow: -3px 3px 5px rgba(0,0,0,0.8);
    box-shadow: 0 5px 10px rgba(0,0,0,0.3),
                inset 5px 5px 7px rgba(255, 255, 255, 0.3)
}

.more-info p:hover{
    background-color: transparent;
    border-radius: 10px;
    text-shadow: none;
    box-shadow: none
}

.future-weather p:hover{
    background-color: transparent;
    border-radius: 10px;
    text-shadow: -1px 1px 3px rgba(0,0,0,0.5);
    box-shadow: none
}

.search-suggestion p:hover{
    background-color: transparent;
    text-shadow: none;
    box-shadow: none
}

.search-suggestion div:hover{
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
}


